* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}



/*=== Login Page ===*/
.Container {
    width: 800px;
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    /* box-shadow: 0px 9px 650px rgb(65, 63, 186); */
    background-image: url(images/backgroundimage.png);
    background-size: cover;
}

.left {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 70px 50px;
    /* background-color: #dee3f1; */
    /* background-image: url(images/loginImage.jpg); */

}

.left h2 {
    color: #ffffff;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 5px;
}

.left p {
    color: rgb(213, 210, 236);
    font-size: 18px;
    font-weight: 600;
}

.right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 47%;
    padding-right: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.right h2 {
    margin-bottom: 2.7rem;
    font-size: 30px;
    font-weight: 600;
    color: #fafce2;
}

#signinForm {
    width: 100%;
}



/* ================= INPUT FIELD ================= */

input {
    width: 100%;
    padding: 7px 12px;
    color: #ffffff;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    background-color: transparent !important;
    outline: 1.7px solid #acb3fe;
}

/* Remove background when focused */
input:focus {
    background-color: transparent !important;
    outline: 1.5px solid #8690fe;
}

/* Remove background when valid */
input:valid {
    background-color: transparent !important;
}

/* Placeholder Styling */
input::placeholder {
    color: rgb(208, 208, 250);
    font-weight: 400;
}

/* ================= AUTOFILL FIX (VERY IMPORTANT) ================= */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* ================= PASSWORD ICON ================= */

.password-field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.password-field i {
    color: #dbd7fc;
    font-size: 14px;
    position: absolute;
    right: 12px;
    top: 11px;
    cursor: pointer;
}

/* Hide default password reveal icons */

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
}


/* ================= BUTTON ================= */

.create-btn {
    padding: 10px 25px;
    background: #f7f4f4;
    width: fit-content;
    color: rgb(22, 26, 147);
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2rem;
}

.create-btn:hover {
    transform: scale(1.05);
}

.login-text {
    margin-top: 1rem;
    text-align: center;
    color: #f7f4f4;
    font-size: 16px;
}

.login-text a {
    color: #f3face;
    text-decoration: none;
    font-weight: 600;
}

.login-btn{
    padding: 10px 35px;
    background: #f7f4f4;
    color: rgb(22, 26, 147);
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2rem;
}

.login-btn:hover {
    transform: scale(1.05);
}


